<!DOCTYPE html>

{% load static %}
{% load sass_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Title</title>
    {# Google fonts #}
    <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald|Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300|Stylish&display=swap" rel="stylesheet">
    {# Sass #}
    <link href="{% sass_src 'scss/base.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/home.scss' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<header class="dfc drowr">
    <div class="logo df aic">
        <img src="{% static 'img/logo.png' %}">
        <span>Communication</span>
    </div>
    <div class="data dfc">
        <img src="{% static 'img/logo_ipn.png' %}">
        <span>{{ profile.name }}</span>
        {% if profile.image %}
            <img src="{{ profile.image.url }}">
        {% else %}
            <img src="{% static 'img/profile.png' %}">
        {% endif %}
    </div>
    {% csrf_token %}
</header>
<section class="dfc clm">
    {% block content %}
    {% endblock %}
</section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
</html>