
{# List of publications #}

{% extends 'home/base.html' %}

{% load static %}

{% block content %}

    <section class="dfc clm" id="id_publisher">
      {#  <div class="preloader"></div> #}
        <div id="publications">
        </div>
        <div id="id_message">
            <span id="id_message_text"></span>
        </div>
    </section>

    <img class="btn_add" src="{% static 'img/btn_add.png' %}"
         data-url="{% url 'home:get_new_publication' %}"
         data-id-publisher="{{ profile.id }}" {# publiser id #}
         id="btn-new-pub">
{% endblock %}