
{% extends 'user/user.html' %}

{% load static %}

{% block content %}
<section class="dfc clm" id="id_user">
    {#  <div class="preloader"></div> #}
    <div class="new-pub dfc clm">
        <form class="dfc clm" method="post" action="{% url 'user:update_publication' publication.id %}" id="id_updPub_form">
            {% csrf_token %}
            {# Publication Type #}
            <div class="dfc clm">
                <span>Publication type</span>
                <div class="toggle">
                    {# ------------ Notice ------------------ #}
                    {% if publication.type.name == 'notice' %}
                        <input type="radio" name="publication" value="notice" id="id_notice" checked/>
                    {% else %}
                        <input type="radio" name="publication" value="notice" id="id_notice"/>
                    {% endif %}
                    <label for="id_notice">Notice</label>
                    {# ------------- Event ------------------ #}
                    {% if publication.type.name == 'event' %}
                        <input type="radio" name="publication" value="event" id="id_event" checked/>
                    {% else %}
                        <input type="radio" name="publication" value="event" id="id_event" />
                    {% endif %}
                    <label for="id_event">Event</label>
                    {# ----------- Procedure ---------------- #}
                    {% if publication.type.name == 'procedure' %}
                        <input type="radio" name="publication" value="procedure" id="id_procedure" checked/>
                    {% else %}
                        <input type="radio" name="publication" value="procedure" id="id_procedure" />
                    {% endif %}
                    <label for="id_procedure">Procedure</label>
                    {# ---------- Announcement -------------- #}
                    {% if publication.type.name == 'announcement' %}
                        <input type="radio" name="publication" value="announcement" id="id_announcement" checked/>
                    {% else %}
                        <input type="radio" name="publication" value="announcement" id="id_announcement" />
                    {% endif %}
                    <label for="id_announcement">Announcement</label>
                    {# ---------- Inscription --------------- #}
                    {% if publication.type.name == 'inscription' %}
                        <input type="radio" name="publication" value="inscription" id="id_inscription" checked/>
                    {% else %}
                        <input type="radio" name="publication" value="inscription" id="id_inscription" />
                    {% endif %}
                    <label for="id_inscription">Inscription</label>
                </div>
            </div>
            {# Addressed to #}
            <div class="dfc clm">
                <span>Addressed to</span>
                <div class="toggle">
                    {#-------------- Community ----------------#}
                    {% if publication.addressed_to.name == 'community' %}
                        <input type="radio" name="address" value="community" id="id_community" checked/>
                    {% else %}
                        <input type="radio" name="address" value="community" id="id_community"/>
                    {% endif %}
                    <label for="id_community">Community</label>
                    {#--------------- Students ----------------#}
                    {% if publication.addressed_to.name == 'students' %}
                        <input type="radio" name="address" value="students" id="id_students" checked/>
                    {% else %}
                        <input type="radio" name="address" value="students" id="id_students" />
                    {% endif %}
                    <label for="id_students">Students</label>
                    {#--------------- Teachers ----------------#}
                    {% if publication.addressed_to.name == 'teachers' %}
                        <input type="radio" name="address" value="teachers" id="id_teachers" checked/>
                    {% else %}
                        <input type="radio" name="address" value="teachers" id="id_teachers" />
                    {% endif%}
                    <label for="id_teachers">Teachers</label>
                    {#----------------- PAAE ------------------#}
                    {% if publication.addressed_to.name == 'paae' %}
                        <input type="radio" name="address" value="paae" id="id_paae" checked/>
                    {% else %}
                        <input type="radio" name="address" value="paae" id="id_paae" />
                    {% endif %}
                    <label for="id_paae">PAAE</label>
                    {#---------------- External ---------------#}
                    {% if publication.addressed_to.name == 'external' %}
                        <input type="radio" name="address" value="external" id="id_external" checked/>
                    {% else %}
                        <input type="radio" name="address" value="external" id="id_external" />
                    {% endif %}
                    <label for="id_external">External</label>
                </div>
            </div>
            {# Tittle #}
            <input type="text" name="tittle" id="id_tittle" placeholder="Tittle" value="{{publication.tittle}}">
            {# Description #}
            <textarea name="description" id="id_description" placeholder="Description">{{publication.description}}</textarea>
            {# Documents #}
            <div class="dfc clm">
    <label for="id_file">
        <img class="img" src="{% static 'img/document.png' %}">
    </label>
    <input type="file" name="file" id="id_file" accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf">
    {% if publication.file %}
        <label id="id_doc_name">{{publication.filename}}</label>
    {% else %}
        <label id="id_doc_name">Add a document (optional)</label>
    {% endif %}
</div>
            {# Images #}
            <div class="dfc clm" id="id_image_content">
    <label for="id_image">
        <img class="img" src="{% static 'img/image.png' %}">
    </label>
    <input type="file" name="image" id="id_image" accept="image/jpeg, image/png" multiple >
    <label id="id_label_image">Add an image (optional)</label>
</div>
            {# Image pre-view #}
            <div class="preview df row" id="id_pre_view">
                {% for object in images %}
                    <img src="{{ object.image.url }}" alt="{{ object.name }}">
                {% endfor %}
            </div>
            <button type="button" class="btn" id="id_btn_update">Send</button>
        </form>
    </div>
    <div id="id_message">
        <span id="id_message_text"></span>
    </div>
    <a href="{% url 'user:user' profile.name %}"><img class="btn_add" src="{% static 'img/btn_back.png' %}"></a>
</section>
{% endblock %}