
{% extends 'publisher/publisher.html' %}

{% load static %}

{% block content %}
    <section id="id_publisher">
        {% for object in object_list %}
            <div class="object-list">
                    <a class="tittle cursor" href="{% url 'publisher:publish' profile.name object.id %}">
                        <span>{{ object.tittle }}</span>
                    </a>
                <span class="date">{{ object.create_at }}</span>
                <div class="images-list">
                    {% if object.published %}
                        <img src="{% static 'img/published.svg' %}">
                    {% else %}
                        {% if object.urgent %}
                            <img src="{% static 'img/urgent.svg' %}">
                        {% else %}
                            <img src="{% static 'img/no_published.svg' %}">
                        {% endif %}
                    {% endif %}
                    {% if not object.reviewed %}
                        <img src="{% static 'img/no_reviewed.svg' %}">
                    {% else %}
                        <img src="{% static 'img/reviewed.svg' %}">
                    {% endif %}
                    {% if object.approved %}
                        <img src="{% static 'img/approved.svg' %}">
                        {% else %}
                        <img src="{% static 'img/no_approved.svg' %}">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div id="id_message">
            <span id="id_message_text"></span>
        </div>
    </section>
{% endblock %}