
{% extends 'publisher/publisher.html' %}
{% load static %}

{% block content %}
<section>
    <form method="post" action="{% url 'publisher:publish' profile.name publication.id %}" id="id_review_form">
        {% csrf_token %}
        <div class="form-data">
            <span>Publication Type:  {{ publication.type_upper }}</span>
            <span>Addressed to:  {{ publication.address_to_upper }}</span>
        </div>
        <input type="text" value="{{ publication.tittle }}" name="tittle">
        <textarea name="description">{{ publication.description }}</textarea>
        {% if publication.file %}
            <div class="document">
                <a href="{{ publication.file.url }}">
                    <img src="{% static 'img/document.png' %}" alt="Download">
                    <span>{{ publication.file_name }}</span>
                </a>
            </div>
        {% endif %}
        <div class="images-preview">
        {% for object in images %}
            <a href="{% url 'publisher:download_image' object.id %}">
                <img src="{{ object.image.url }}" alt="{{ object.name }}">
            </a>
        {% endfor %}
        </div>
        <button class="btn-send" type="submit" id="btn_save">Publish</button>
    </form>
    <a href="{% url 'publisher:publisher' profile.name %}"><img class="floating-button" src="{% static 'img/btn_back.png' %}"></a>
</section>
{% endblock %}