@import url("https://fonts.googleapis.com/css?family=Heebo|Lobster|Stylish&display=swap");
/********************************************************************************
                                    Mixins
********************************************************************************/
/***********************************************************************************
                                        Effects
 **********************************************************************************/
.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px); }

.dn {
  display: none; }

.dfc, form, .logo, section, html, body {
  display: flex;
  align-items: center; }

.jc, .logo, html, body {
  justify-content: center; }

.clm, form, section, html, body {
  flex-direction: column; }

.row {
  flex-direction: row; }

.row-r {
  flex-direction: row-reverse; }

.cursor {
  cursor: pointer; }

/***********************************************************************************
                                      Header
************************************************************************************/
/***********************************************************************************
                                Message: Success, Error
************************************************************************************/
.msg-content, .msg-error, .msg-success {
  width: auto;
  height: auto;
  border: 0px;
  margin: 10px;
  padding: 5px 15px;
  border-radius: 20px; }

.msg-success {
  background-color: #d4efdf; }
  .msg-success span {
    width: auto;
    height: auto;
    border-radius: 10px;
    color: #52be80;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; }

.msg-error {
  background-color: #f2d7d5; }
  .msg-error span {
    width: auto;
    height: auto;
    border-radius: 10px;
    color: #cd6155;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; }

/*
    Button send form
*/
.btn-send {
  width: 100px;
  height: 30px;
  background-color: #4B9DEA;
  border: 0px;
  border-radius: 10px;
  color: white;
  margin: 20px 0px;
  outline: 0px; }
  .btn-send:active {
    opacity: 1;
    box-shadow: 0 0 10px #66b3fb; }

/*
    Floating Button
*/
.floating-button {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2; }

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #ebedef; }

section {
  width: 25%;
  height: 85%;
  background-color: white;
  border-radius: 10px;
  transition: all 500ms; }
  @media screen and (max-device-width: 480px) {
    section {
      width: 95%;
      height: 95%;
      background-color: white;
      border-radius: 10px; } }
.tittle {
  font-size: 2em;
  font-family: 'Lobster', cursive;
  font-family: 'Stylish', sans-serif;
  font-family: 'Oswald', sans-serif;
  color: #808b96; }

/*
  Account styles
*/
.logo {
  width: 70%;
  height: 15%;
  margin: 0px 0px 15px 0px; }
  .logo-text {
    width: auto;
    height: auto;
    color: black; }
    .logo-text span {
      font-size: 1.5em;
      font-family: 'Lobster', cursive;
      font-family: 'Stylish', sans-serif;
      font-family: 'Oswald', sans-serif; }
  .logo-img {
    width: auto;
    height: auto;
    margin: 2px; }
    .logo-img img {
      width: 30px;
      height: 30px; }

form {
  width: 70%;
  height: 85%; }
  form input {
    width: 90%;
    height: 30px;
    margin: 5px 0px;
    padding: 0px 10px;
    color: #2c3e50;
    border: 1px solid #abb2b9;
    border-radius: 10px;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    outline: 0px; }
  form button {
    width: 95%;
    height: 35px;
    margin: 5px 0px 20px 0px;
    padding: 0px 10px;
    background-color: #701c45;
    border: 1px solid #701c45;
    border-radius: 10px;
    color: white;
    outline: 0px; }
    form button:active {
      background-color: #aab7b8;
      border: 1px solid #aab7b8; }
  form img {
    width: 30px;
    height: 30px;
    margin: 0px 5px; }
  form progress {
    display: none; }

.sld {
  color: #abb2b9; }

/* Text for spans */
.txt {
  font-family: 'Lobster', cursive;
  font-family: 'Stylish', sans-serif;
  font-family: 'Heebo', sans-serif;
  color: #5d6d7e; }
  .txt:hover {
    color: #701c45;
    cursor: pointer; }

.list {
  margin: 0px;
  padding: 20px 0px;
  width: 22%;
  height: 40%;
  background-color: white;
  border: 1px solid #abb2b9;
  border-radius: 10px;
  position: fixed;
  z-index: 2;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 400px; }
  .list span {
    width: 90%;
    height: auto;
    min-width: 50px;
    padding: 0px 10px;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px; }
    .list span:hover {
      background-color: #d5d8dc; }
    .list span:active {
      background-color: #701c45;
      color: white; }

.line {
  width: 90%;
  height: 1px;
  background-color: #abb2b9; }

/*
  Login media
*/
@media screen and (max-device-width: 480px) {
  .list {
    width: 80%;
    height: auto;
    padding: 30px 0px; } }

/************************************************/
/*        password progress bar                 */
/************************************************/
progress {
  display: block;
  width: 100%;
  height: 5px;
  margin: 0;
  background: none;
  border: 0;
  border-radius: 50px;
  text-align: left;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 15px; }

progress::-webkit-progress-bar {
  height: 5px;
  width: 100%;
  margin: 0 auto;
  background-color: #dadada;
  border-radius: 100px; }

progress::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #f44);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%; }

/*# sourceMappingURL=account.css.map */