
@import "mixins.scss";
@import 'effects.scss';

$bg-color: rgb(235, 237, 239);
$gda-color: rgb(112, 28, 69);
$gray1: rgb(171, 178, 185);
$blue: rgb(52, 152, 219);
$green-upiicsa: #00953a;

.dn{
  display: none;
}

.dfc{
  display: flex;
  align-items: center;
}
.jc{
    justify-content: center;
}
.clm{
  flex-direction: column;
}
.row{
  flex-direction: row;
}
.row-r{
  flex-direction: row-reverse;
}

.cursor{
    cursor:pointer;
}

/***********************************************************************************
                                      Header
************************************************************************************/


/***********************************************************************************
                                Message: Success, Error
************************************************************************************/
.msg-content{
  @include size(auto, auto);
  border: 0px;
  margin: 10px;
  padding: 5px 15px;
  border-radius: 20px;
}
.msg{
  &-success{
    @extend .msg-content;
    background-color: rgb(212, 239, 223);
    span{
        @include size(auto, auto);
        border-radius: 10px;
        color: rgb(82, 190, 128 );
        @include font2;
    }
  }
  &-error{
    @extend .msg-content;
    background-color: rgb(242, 215, 213);
    span{
        @include size(auto, auto);
        border-radius: 10px;
        color: rgb(205, 97, 85);
        @include font2;
    }
  }
}

/*
    Button send form
*/

.btn-send{
    @include size(100px, 30px);
    background-color: #4B9DEA;
    border: 0px;
    border-radius: 10px;
    color: white;
    margin: 20px 0px;
    outline: 0px;
    &:active{
        opacity: 1;
        box-shadow: 0 0 10px rgba(102, 179, 251, 1);
    }
}

/*
    Floating Button
*/
.floating-button{
    @include size(60px, 60px);
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}