/********************************************************************************
                                    Mixins
********************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
.dn {
  display: none; }

.df {
  display: flex; }

.dfc {
  display: flex;
  align-items: center;
  justify-content: center; }

.aic {
  align-items: center; }

.clm {
  flex-direction: column; }

.row {
  flex-direction: row; }

.row-r {
  flex-direction: row-reverse; }

.cursor {
  cursor: pointer; }

/***********************************************************************************
                                        Effects
 **********************************************************************************/
.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px); }

/***********************************************************************************
                                        Message
************************************************************************************/
.msg-error, .msg-success {
  width: auto;
  height: auto;
  border: 0px;
  margin: 10px;
  padding: 5px 15px;
  border-radius: 20px; }

.msg-success {
  background-color: #d4efdf; }
  .msg-success span {
    width: auto;
    height: auto;
    border-radius: 10px;
    color: #52be80;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; }

.msg-error {
  background-color: #f2d7d5; }
  .msg-error span {
    width: auto;
    height: auto;
    border-radius: 10px;
    color: #cd6155;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; }

/***********************************************************************************
                                      Header
************************************************************************************/
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-color: #ebedef; }

header {
  width: 100%;
  height: 45px;
  background-color: white;
  margin: 0px 0px 10px 0px; }

section {
  width: 100%;
  height: auto; }

.logo {
  width: 85%;
  height: 100%; }
  .logo img {
    width: 30px;
    height: 30px;
    margin: 0px 10px; }
  .logo span {
    font-size: 1em;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Oswald', sans-serif; }

.data {
  width: 15%;
  height: 100%;
  background-color: #701c45; }
  .data img {
    width: 30px;
    height: 30px;
    margin: 0px 5px; }
  .data span {
    font-size: 1em;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white; }

.preloader {
  width: 40px;
  height: 40px;
  border: 10px solid #eee;
  border-top: 10px solid #4B9DEA;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@keyframes girar {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.floating-button {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2; }

/***********************************************************************************
                                Header media
************************************************************************************/
@media screen and (max-device-width: 480px) {
  .logo {
    width: 60%;
    height: 100%; }
  .data {
    width: 40%;
    height: 100%; } }

/********************************************************************************
                                    Mixins
********************************************************************************/
/*********************************************
           Direction list format
*********************************************/
.direction-list {
  width: 98%;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  margin: 0px 0px 5px 0px; }

.tittle {
  width: 70%;
  height: 100%;
  padding: 0px 10px;
  font-family: Arial;
  text-decoration: none;
  color: #2c3e50; }

.date {
  width: 15%;
  height: auto;
  font-size: 0.7em;
  font-family: Arial;
  text-align: right; }

/* Images in publication list */
.images-list {
  width: 15%;
  height: auto;
  margin: 0px 5px; }
  .images-list img {
    width: 35px;
    height: 35px;
    margin: 0px 2px; }

/*********************************************
                Publication
*********************************************/
form {
  width: 98%;
  height: auto;
  padding: 20px 0px;
  background-color: white; }
  form input[type='text'] {
    width: 80%;
    height: 5%;
    border: solid 1px #DDD;
    border-radius: 10px;
    margin: 10px 0px;
    background-color: white;
    padding: 5px 10px;
    font-family: 'Arial';
    font-size: 1em;
    outline: 0px; }
    form input[type='text']:focus {
      border-color: #4B9DEA;
      box-shadow: 0 0 10px rgba(102, 179, 251, 0.5); }
  form input[type='file'] {
    display: none; }
  form textarea {
    width: 80%;
    height: 180px;
    border: solid 1px #DDD;
    border-radius: 10px;
    margin: 10px 0px;
    background-color: white;
    padding: 10px 10px;
    font-family: 'Arial';
    font-size: 1em;
    outline: 0px;
    resize: none; }
    form textarea:focus {
      border-color: #3498db;
      box-shadow: 0 0 10px rgba(102, 179, 251, 0.5); }

.pub-data {
  font-family: 'Lobster', cursive;
  font-family: 'Stylish', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  margin: 10px 10px; }

/* Images in publisher form */
.image-preview {
  width: 80%;
  height: auto;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 5px; }
  .image-preview img {
    width: 200px;
    height: 200px;
    margin: 2px;
    border-radius: 10px; }

.document {
  margin: 20px 0px; }
  .document span {
    font-family: Arial;
    font-size: 1em; }
  .document img {
    width: 50px;
    height: 50px; }

.option {
  margin: 0px 10px; }
  .option img {
    width: 50px;
    height: 50px; }
  .option span {
    font-family: Arial;
    font-size: 10px; }

button {
  width: 100px;
  height: 30px;
  background-color: #4B9DEA;
  border: 0px;
  border-radius: 10px;
  color: white;
  margin: 20px 0px;
  outline: 0px; }
  button:active {
    opacity: 1;
    box-shadow: 0 0 10px #66b3fb; }

/*********************************************
            Direction Media Format
*********************************************/
@media screen and (max-device-width: 480px) {
  .date {
    font-size: 0.7em;
    padding: 0px 5px; }
  .pub-data {
    font-size: 1em; }
  .tittle {
    width: 60%;
    height: 100%;
    max-width: 50%; }
  .date {
    width: 10%;
    height: auto;
    font-size: 0.6em; }
  .images-list {
    width: 30%;
    height: 100%; }
    .images-list img {
      width: 30px;
      height: 30px;
      margin: 0px 2px; }
  .image-preview img {
    width: 130px;
    height: 130px; } }

/*# sourceMappingURL=direction.css.map */