
@import "base.scss";

html, body{
  margin: 0px;
  padding: 0px;
  @include size(100%, auto);
  background-color: $bg-color;
}

header{
  @include size(100%, 45px);
  background-color: white;
  margin: 0px 0px 10px 0px;
}

section{
    @include size(100%, auto);
}

.logo{
    @include size(85%, 100%);
    img{
        @include size(30px, 30px);
        margin: 0px 10px;
    }
    span{
        font-size: 1em;
        @include font1;
    }
}
.data{
    @include size(15%, 100%);
    background-color: $gda-color;
    img{
        @include size(30px, 30px);
        margin: 0px 5px;
    }
    span{
        font-size: 1em;
        @include font2;
        color: white;
    }
}


.preloader {
  width: 40px;
  height: 40px;
  border: 10px solid #eee;
  border-top: 10px solid #4B9DEA;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*********************************************
                 Home media
*********************************************/
@media screen and (max-device-width: 480px) {
    .logo{
        @include size(60%, 100%);
    }
    .data{
        @include size(40%, 100%);
    }
}