@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
.dn {
  display: none; }

.df {
  display: flex; }

.dfc {
  display: flex;
  align-items: center;
  justify-content: center; }

.aic {
  align-items: center; }

.clm {
  flex-direction: column; }

.row {
  flex-direction: row; }

.fdrow {
  flex-direction: row; }

.fdrowr {
  flex-direction: row-reverse; }

/********************************************************************************
  Mixin
********************************************************************************/
/***********************************************************************************
Effects
 **********************************************************************************/
.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px); }

/***********************************************************************************
Message
**********************************************************************************/
.msg-error, .msg-success {
  width: auto;
  height: auto;
  border: 0px;
  margin: 10px;
  padding: 5px 15px;
  border-radius: 20px; }

.msg-success {
  background-color: #d4efdf; }
  .msg-success span {
    width: auto;
    height: auto;
    border-radius: 10px;
    color: #52be80;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; }

.msg-error {
  background-color: #f2d7d5; }
  .msg-error span {
    width: auto;
    height: auto;
    border-radius: 10px;
    color: #cd6155;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; }

/*********************************************
                Publisher
*********************************************/
/*
    Button style
*/
.btn {
  width: 100px;
  height: 30px;
  background-color: #4B9DEA;
  border: 0px;
  border-radius: 10px;
  color: white;
  margin: 10px 0px;
  outline: 0px; }
  .btn:active {
    opacity: 1;
    box-shadow: 0 0 10px #66b3fb; }

.btn_add {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2; }
  .btn_add:hover {
    opacity: 0.6; }

.new-pub {
  width: 98%;
  height: 95%;
  margin: 0px;
  padding: 10px 0px;
  background-color: white;
  font-family: 'Lobster', cursive;
  font-family: 'Stylish', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif; }
  .new-pub form input[type="text"] {
    width: 80%;
    height: 5%;
    border: solid 1px #DDD;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 5px 10px;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    outline: 0px; }
    .new-pub form input[type="text"]:focus {
      border-color: #4B9DEA;
      box-shadow: 0 0 10px rgba(102, 179, 251, 0.5); }
  .new-pub form textarea {
    width: 80%;
    height: 100px;
    border: solid 1px #DDD;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px 10px;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    outline: 0px;
    resize: none; }
    .new-pub form textarea:focus {
      border-color: #3498db;
      box-shadow: 0 0 10px rgba(102, 179, 251, 0.5); }
  .new-pub form input[type="file"] {
    display: none; }

.img {
  width: 40px;
  height: 40px; }
  .img:hover {
    cursor: pointer; }

.preview {
  width: auto;
  height: auto;
  max-width: 90%;
  overflow: scroll;
  overflow-y: hidden; }
  .preview img {
    width: 90px;
    height: 90px;
    margin: 2px;
    border: 0px;
    border-radius: 10px; }
  .preview::-webkit-scrollbar {
    -webkit-appearance: none; }
  .preview::-webkit-scrollbar:vertical {
    width: 5px; }
  .preview::-webkit-scrollbar-button:increment {
    display: none; }
  .preview::-webkit-scrollbar-button {
    display: none; }
  .preview::-webkit-scrollbar:horizontal {
    height: 5px; }
  .preview::-webkit-scrollbar-thumb {
    background-color: #d5d8dc;
    border-radius: 20px;
    border: 1px solid #f1f2f3;
    margin: 5px; }
  .preview::-webkit-scrollbar-track {
    border-radius: 10px; }

/* Radio Button Effect */
/* MIXINS */
.toggle {
  margin: 10px 0em;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch; }
  .toggle input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px; }
  .toggle input + label {
    margin: 0;
    padding: 0.2em 1em;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: solid 1px #DDD;
    background-color: #FFF;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
    /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
    /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
    /* ----- */ }
    .toggle input + label:first-of-type {
      border-radius: 6px 0 0 6px;
      border-right: none; }
    .toggle input + label:last-of-type {
      border-radius: 0 6px 6px 0;
      border-left: none; }
  .toggle input:hover + label {
    border-color: #213140; }
  .toggle input:checked + label {
    background-color: #4B9DEA;
    color: #FFF;
    box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
    border-color: #4B9DEA;
    z-index: 1; }
  .toggle input:focus + label {
    outline: dotted 1px #CCC;
    outline-offset: .45rem; }

@media screen and (max-device-width: 480px) {
  /* Publisher */
  .toggle input + label {
    padding: 0.2em 0.5em; }
  .new-pub input[type="text"] {
    width: 70%;
    height: 5%; }
  .new-pub textarea {
    width: 70%;
    height: 150px; } }

/*# sourceMappingURL=publisher.css.map */