@import url("https://fonts.googleapis.com/css?family=Heebo|Lobster|Stylish&display=swap");
/********************************************************************************
                                    Mixins
********************************************************************************/
/***********************************************************************************
                                        Effects
 **********************************************************************************/
.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px); }

.dn {
  display: none; }

.dfc, form, section, html, body {
  display: flex;
  align-items: center; }

.jc, form, html, body {
  justify-content: center; }

.clm, form, section, html, body {
  flex-direction: column; }

.row {
  flex-direction: row; }

.row-r {
  flex-direction: row-reverse; }

.cursor {
  cursor: pointer; }

/***********************************************************************************
                                      Header
************************************************************************************/
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-color: #ebedef; }

/***********************************************************************************
                                Message: Success, Error
************************************************************************************/
.msg-content, .msg-error, .msg-success {
  width: auto;
  height: auto;
  border: 0px;
  margin: 10px;
  padding: 5px 15px;
  border-radius: 20px; }

.msg-success {
  background-color: #d4efdf; }
  .msg-success span {
    width: auto;
    height: auto;
    border-radius: 10px;
    color: #52be80;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; }

.msg-error {
  background-color: #f2d7d5; }
  .msg-error span {
    width: auto;
    height: auto;
    border-radius: 10px;
    color: #cd6155;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; }

/*
    Button send form
*/
.btn-send {
  width: 100px;
  height: 30px;
  background-color: #4B9DEA;
  border: 0px;
  border-radius: 10px;
  color: white;
  margin: 20px 0px;
  outline: 0px; }
  .btn-send:active {
    opacity: 1;
    box-shadow: 0 0 10px #66b3fb; }

/*
    Floating Button
*/
.floating-button {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2; }

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #ebedef; }

section {
  width: 40%;
  height: 85%;
  background-color: white;
  border-radius: 10px;
  transition: all 500ms; }

form {
  width: 90%;
  height: 90%; }
  form input[type='text'] {
    width: 80%;
    height: auto;
    margin: 10px 0px;
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5em;
    color: #34495e;
    text-align: center;
    border: 1px solid #abb2b9;
    border-radius: 10px;
    outline: 0px; }
  form span {
    font-family: 'Lobster', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-size: 0.8em;
    color: #808b96; }
  form img {
    width: 200px;
    height: 200px; }

/*# sourceMappingURL=settings.css.map */