
{% extends 'editor/editor.html' %}
{% load static %}

{% block content %}
<section>
    <form method="post" action="{% url 'editor:review' profile.name publication.id %}" id="id_review_form">
        {% csrf_token %}
        <div class="form-data">
            <span>Publication Type:  {{ publication.type_upper }}</span>
            <span>Addressed to:  {{ publication.address_to_upper }}</span>
        </div>
        <input type="text" value="{{ publication.tittle }}" name="tittle">
        <textarea name="description">{{ publication.description }}</textarea>
        {% if publication.file %}
            <div class="document">
                <a href="{{ publication.file.url }}">
                    <img src="{% static 'img/document.svg' %}">
                    <span>{{ publication.file_name }}</span>
                </a>
            </div>
            <div class="document">
                <label for="id_file">
                    <img class="cursor upload" src="{% static 'img/upload.png' %}">
                </label>
                <input type="file" name="file" id="id_file">
                <span id="id_file_name">Upload new file</span>
            </div>
        {% endif %}
        <button type="button" id="btn_save" class="btn-send">Save</button>
    </form>
    <a href="{% url 'editor:editor' profile.name %}"><img class="floating-button" src="{% static 'img/btn_back.png' %}"></a>
</section>
{% endblock %}