
<!DOCTYPE html>

{% load static %}
{% load sass_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Title</title>
    {# Google fonts #}
    <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald|Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300|Stylish&display=swap" rel="stylesheet">
    {# Sass #}
    <link href="{% sass_src 'scss/base.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/publication.scss' %}" rel="stylesheet" type="text/css" />
    {% block sass %}
    {% endblock %}
</head>
<body>
<header>
    <div class="logo" id="id_logo" data-id="logo">
        <img src="{% static 'img/logo.png' %}">
        <span>Communication</span>
    </div>
    <div class="user-data cursor" id="id_user_data" data-id="user_data">
        <img class="cursor" src="{% static 'img/logo_ipn.svg' %}" data-id="user_data">
        <span class="cursor" data-id="user_data">{{ profile.name }}</span>
        {% if profile.image %}
            <img data-id="user_data" src="{{ profile.image.url }}">
        {% else %}
            <img data-id="user_data" src="{% static 'img/profile_white.svg' %}">
        {% endif %}
    </div>
    <div class="user-options" id="id_user_options" data-id="user_options">
        <a href="{% url 'account:signOff' profile.name %}" data-id="user_options" ><span>SignOff</span></a>
        <a href="{% url 'settings:user' profile.name %}"><img data-id="user_options" src="{% static 'img/settings.svg' %}"></a>
    </div>
    {% csrf_token %}
</header>
{% block content %}
{% endblock %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="{% static 'js/base.js' %}"></script>
{% block script %}
{% endblock %}
</html>