
{% extends 'direction/direction.html' %}
{% load static %}

{% block content %}
<section class="dfc clm">
    <form class="dfc clm" method="post" action="{% url 'direction:approve_publication' profile.name publication.id %}" id="id_review_form">
        {% csrf_token %}
        <div>
            <span class="pub-data">Publication Type:  {{ publication.type_upper }}</span>
            <span class="pub-data">Addressed to:  {{ publication.address_to_upper }}</span>
        </div>
        <input type="text" value="{{ publication.tittle }}" name="tittle" disabled>
        <textarea name="description" disabled>{{ publication.description }}</textarea>
        {% if publication.file %}
            <div class="document df aic row">
                <a href="{{ publication.file.url }}">
                    <img src="{% static 'img/document.png' %}" alt="Download">
                </a>
                <span>{{ publication.file_name }}</span>
            </div>
        {% endif %}

        <div class="image-preview">
        {% for object in images %}
            <img src="{{ object.image.url }}" alt="{{ object.name }}">
        {% endfor %}
        </div>
        <button type="submit" id="btn_save">Approve</button>
    </form>
    <a href="{% url 'direction:direction' profile.name %}"><img class="floating-button" src="{% static 'img/btn_back.png' %}"></a>
</section>
{% endblock %}